.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  background-color: #c7b198;
  display: grid;
  grid-template-columns: 12;
  row-gap: 6px;
  justify-items: center;
  min-height: 60vh;
  width: 15rem;
  padding: 10px;
}

.title {
  font-size: 3rem;
  margin: 10px 9px;
  background-color: #c7b198;
}

.input {
  width: 12rem;
  height: 30px;
  margin: 12px 20px;
  padding: 15px;
  border-radius: 10px;
  border-style: none;
}

.submitBtn {
  background-color: #596e79;
  border-style: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  outline: none;
  border-radius: 10px;
  width: 150px;
  padding: 5px;
  font-size: 1.3rem;
}

.submitBtn:hover {
  background-color: #c7b198;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  border-color: #596e79;
  cursor: pointer;
}

/* tablet */
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .form {
    min-height: 600px;
    padding: 12px;
    width: 500px;
  }
  .title {
    font-size: 3.5rem;
  }

  .input {
    width: 15rem;
    height: 2rem;
  }
  .submitBtn {
    width: 11rem;
    font-size: 1.5rem;
  }
}
