.container {
  color: #596e79;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  border-bottom: 7px solid #c7b198;
  margin-top: 20px;
}

.imageContainer {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  padding: 7px;
  background-color: #c7b198;
  z-index: 2;
}
