.pictures {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  justify-items: center;
  align-items: center;
  background-color: #ffdcb8;
  scroll-snap-align: start;
}

.img {
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  width: 130px;
}

.img:nth-child(1),
.img:nth-child(2) {
  animation: flipLeft 4s ease-in-out;
}

.img:nth-child(3),
.img:nth-child(4) {
  animation: flipRight 4s ease-in-out;
}

@keyframes flipLeft {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes flipRight {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (min-width: 481px) and (max-width: 800px) {
  .pictures {
    gap: 1.2rem;
  }
  .img {
    width: 180px;
  }
}

@media screen and (min-width: 801px) and (max-width: 1150px) {
  .pictures {
    gap: 0.5rem;
  }
  .img {
    width: 200px;
  }
}

@media screen and (min-width: 1151px) {
  .pictures {
    gap: 0.7rem;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
  }
  .img {
    width: 200px;
    height: 350px;
  }
}
